In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
dataframe=pd.read_excel('Employees.xlsx')

In [5]:
dataframe.columns

Index(['No', 'First Name', 'Last Name', 'Gender', 'Start Date', 'Years',
       'Department', 'Country', 'Center', 'Monthly Salary', 'Annual Salary',
       'Job Rate', 'Sick Leaves', 'Unpaid Leaves', 'Overtime Hours'],
      dtype='object')

In [6]:
dataframe.columns

Index(['No', 'First Name', 'Last Name', 'Gender', 'Start Date', 'Years',
       'Department', 'Country', 'Center', 'Monthly Salary', 'Annual Salary',
       'Job Rate', 'Sick Leaves', 'Unpaid Leaves', 'Overtime Hours'],
      dtype='object')

In [7]:
dataframe['Gender'].nunique()

2

In [9]:
group=dataframe.groupby('Department')['Annual Salary'].mean()

In [10]:
type(group)

pandas.core.series.Series

In [11]:
group.head()

Department
Account Management             23246.000000
Creative                       24135.789474
Environmental Compliance       30097.846154
Environmental Health/Safety    24005.333333
Facilities/Engineering         27423.310345
Name: Annual Salary, dtype: float64

In [12]:
group=group.reset_index()

In [13]:
type(group)

pandas.core.frame.DataFrame

In [14]:
group.head()

                    Department  Annual Salary
0           Account Management   23246.000000
1                     Creative   24135.789474
2     Environmental Compliance   30097.846154
3  Environmental Health/Safety   24005.333333
4       Facilities/Engineering   27423.310345

In [15]:
group['Annual Salary'].median()

24690.480337078654

In [16]:
group.describe()

       Annual Salary
count      20.000000
mean    25302.938609
std      2259.607733
min     22644.000000
25%     23898.117647
50%     24690.480337
75%     25757.850000
max     30670.285714

In [20]:
# Grouping by 'Department' and computing summary statistics for 'Annual Salary'
grouped_summary = dataframe.groupby('Department')['Annual Salary'].agg(
    ['mean', 'median', 'min', 'max', 'std']
)
print(grouped_summary)

                                     mean   median    min    max           std
Department
Account Management           23246.000000  24210.0   8436  41400   9181.787746
Creative                     24135.789474  26256.0  11316  40656   7164.486921
Environmental Compliance     30097.846154  30468.0  13932  40248   7672.453865
Environmental Health/Safety  24005.333333  23652.0  17160  37440   6751.512127
Facilities/Engineering       27423.310345  29340.0   9864  40848   9461.022389
Green Building               24994.500000  23856.0  11628  39300  10575.013556
Human Resources              30670.285714  29136.0  22572  37116   5494.412122
IT                           25374.300000  24234.0   8532  39096   9082.833982
Major Mfg Projects           26908.500000  29220.0  11964  41352   9114.869092
Manufacturing                24055.628571  23652.0   8628  40932   8824.917344
Manufacturing Admin          23052.000000  26484.0  15480  28332   6341.446523
Marketing                    24733.500000  23802.0   8484  40920  10185.860726
Product Development          23576.470588  24696.0   8928  40044   9855.895600
Professional Training Group  24485.142857  24384.0   9960  39384   9517.167701
Quality Assurance            25007.104478  25380.0  10080  41040   9504.880196
Quality Control              24647.460674  25632.0   8676  41316   8989.061154
Research Center              22644.000000  14760.0  13152  36816  11619.253677
Research/Development         25183.200000  25584.0   9996  37560  10256.496244
Sales                        23477.400000  23682.0   9696  39732   8853.801588
Training                     28341.000000  28638.0   9744  40008   9706.195135

In [21]:
from sklearn.datasets import load_iris

In [22]:
iris=load_iris()
df=pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [23]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [24]:
df['species']=pd.Categorical.from_codes(iris.target,iris.target_names)

In [25]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [26]:
species=df['species'].unique()

In [27]:
for sp in species:
    print('Describing ',sp)
    d=df[df['species']==sp]
    print(d.describe())

Describing  setosa
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count           50.00000         50.000000          50.000000
mean             5.00600          3.428000           1.462000
std              0.35249          0.379064           0.173664
min              4.30000          2.300000           1.000000
25%              4.80000          3.200000           1.400000
50%              5.00000          3.400000           1.500000
75%              5.20000          3.675000           1.575000
max              5.80000          4.400000           1.900000

       petal width (cm)
count         50.000000
mean           0.246000
std            0.105386
min            0.100000
25%            0.200000
50%            0.200000
75%            0.300000
max            0.600000
Describing  versicolor
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count          50.000000         50.000000          50.000000
mean            5.936000          2.770000           4.260000
std             0.516171          0.313798           0.469911
min             4.900000          2.000000           3.000000
25%             5.600000          2.525000           4.000000
50%             5.900000          2.800000           4.350000
75%             6.300000          3.000000           4.600000
max             7.000000          3.400000           5.100000

       petal width (cm)
count         50.000000
mean           1.326000
std            0.197753
min            1.000000
25%            1.200000
50%            1.300000
75%            1.500000
max            1.800000
Describing  virginica
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count           50.00000         50.000000          50.000000
mean             6.58800          2.974000           5.552000
std              0.63588          0.322497           0.551895
min              4.90000          2.200000           4.500000
25%              6.22500          2.800000           5.100000
50%              6.50000          3.000000           5.550000
75%              6.90000          3.175000           5.875000
max              7.90000          3.800000           6.900000

       petal width (cm)
count          50.00000
mean            2.02600
std             0.27465
min             1.40000
25%             1.80000
50%             2.00000
75%             2.30000
max             2.50000