In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = sns.load_dataset('diamonds')

In [22]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [23]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [24]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [25]:
df.shape

(53940, 10)

In [35]:
group = df.groupby('clarity',observed=False)['price'].mean().reset_index()   #observed=False is optional to remove warning
print(group)

  clarity        price
0      IF  2864.839106
1    VVS1  2523.114637
2    VVS2  3283.737071
3     VS1  3839.455391
4     VS2  3924.989395
5     SI1  3996.001148
6     SI2  5063.028606
7      I1  3924.168691

In [36]:
sum_prices = df.groupby('clarity',observed=False)['price'].sum().reset_index()
print(sum_prices)

  clarity     price
0      IF   5128062
1    VVS1   9221984
2    VVS2  16635412
3     VS1  31372190
4     VS2  48112520
5     SI1  52207755
6     SI2  46549485
7      I1   2907809

In [39]:
print(group['price'].max(),group['price'].min())
print(sum_prices['price'].max(),sum_prices['price'].min())

5063.028605612356 2523.1146374829
52207755 2907809

In [40]:
group['price'].median()

3881.8120409875883

In [43]:
grouped_summary = df.groupby('clarity',observed=False)['price'].agg(['mean','median','max','min','std'])
print(grouped_summary)

                mean  median    max  min          std
clarity
IF       2864.839106  1080.0  18806  369  3920.248499
VVS1     2523.114637  1093.0  18777  336  3334.838888
VVS2     3283.737071  1311.0  18768  336  3821.647537
VS1      3839.455391  2005.0  18795  327  4011.747958
VS2      3924.989395  2054.0  18823  334  4042.302816
SI1      3996.001148  2822.0  18818  326  3799.483853
SI2      5063.028606  4072.0  18804  326  4260.458578
I1       3924.168691  3344.0  18531  345  2806.778270

In [47]:
df = sns.load_dataset('iris')

In [49]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [57]:
species = df['species'].unique()

In [58]:
species

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [61]:
for sp in species:
    print(sp)
    d1=df[df['species']==sp]
    print(d1.describe())
    print()

setosa
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

versicolor
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

virginica
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000